name: Clippy check

on: push

jobs:
  subscriber_clippy_check:
    runs-on: ubuntu-latest
    env:
       working-directory: ./subscriber
    steps:
      - uses: actions/checkout@v1
      - run: rustup component add clippy
        working-directory: ${{env.working-directory}}
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
